<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    
    <div class="mainedit">

      <h2> Editar Personaje </h2>

      <form action="" id="editcharacter" method="POST" enctype="multipart/form-data" >
      
        <div class="name">

          <label for="name">Editar Nombre</label>
          <input type="name" placeholder=<%= character.name %>  name="name" id="name"> 
          
      </div>

      <div class="age">

          <label for="age">Editar Edad</label>
          <input type="number" placeholder=<%= character.age %> age="age" id="age"> 
          
      </div>

      <div class="image">

          <label for="image">Editar Imagen</label>
          <input type="file" value="<%= character.image %>" image="image" id="image"> 
          
      </div>

      <div class="history">

          <label for="image">Editar sinopsis</label>
          <textarea name="history" id="history" cols="30" rows="5" maxlength="500" minlength="20"  ><%= character.history %></textarea> 
          
      </div>


  </div>
      <div class="buttonEdit">
                
       <button class="btn" type="submit">Editar</button>
       
          </form>

          <form action="" method="POST">

              <button class="btn" type="submit">Eliminar</button>

      </div>
      
      
      </form>

    </div>

  </body>
</html>