<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    
    <div class="mainedit">

      <h2> Editar Serie </h2>

      <form action="/series/edit/<%= serie.id %>" method="POST" enctype="multipart/form-data" >
      
        <div class="title">

            <label for="title">Editar Nombre</label>
            <input type="title" value=<%= serie.title %> name="title" id="title">
            
        </div>

        <div class="image">

            <label for="image">Editar Imagen</label>
            <input type="file" value="<%= serie.image %>" name="image" id="image"> 
            
        </div>

        <div class="rating">

          <label for="rating">Editar ratingn</label>
          <input type="rating" value=<%= serie.rating %> name="rating" id="rating"> 
          
      </div>

      <div class="release_date">

        <label for="release_date">Fecha de estreno</label>
        <input type="date" value=<%= serie.release_date %> name="release_date" id="release_date"> 
        
    </div>

    <div class="history">

      <label for="history">Editar sinopsis</label>
      <textarea name="history" id="history" cols="30" rows="5" maxlength="500" minlength="20"  ><%= serie.history %></textarea> 
      
  </div>

  <div class="genre">

    <select name="genre_id" id="genre_id">
        <option selected>-- Seleccione un genero --</option>
        <% for(let i=0; i < genres.length; i++) { %>
            <option value="<%=genres[i].id%>"><%=genres[i].name%></option>
        <% } %> 

    </select>

    </div>

  </div>
      <div class="buttonEdit">
                
       <button class="btn" type="submit">Editar</button>
       
          </form>

          <form action="" method="POST">

              <button class="btn" type="submit">Eliminar</button>

      </div>
      
      
      </form>

    </div>

  </body>
</html>